.wrapper {
  background: var(--color-gray);
}

.ui.container {
  width: 100% !important;

  .banner {
    background: var(--color-darkgray);
    display: grid;
    justify-content: center;
    height: 45vh;

    .ui.button {
      width: 10vw;
      height: 5.5vh;
      justify-self: center;
      background: transparent;
      color: var(--color-peach);
      border: 1px solid var(--color-gray);
    }
    .ui.button:hover {
      background: var(--color-red);
    }

    .ui.header {
      color: var(--color-peach);
      margin-top: 1em;
      justify-self: center;
    }
  }
}

.ui.segment {
  color: var(--color-peach);
  background-color: var(--color-gray) !important;
  height: 46.5vh;

  .grid {
    background: var(--color-gray);
  }
  .ui.header {
    color: var(--color-peach);
  }
}
