.inventory {
  height: 90vh;
  width: 100vw;

  header {
    h1 {
      margin: 10px;
    }
  }

  .menu {
    height: 90vh;
    overflow-y: auto;
    overflow-x: hidden;
  }

  .tab {
    height: 90vh;
    overflow-y: auto;
    overflow-x: hidden;
  }
}
