.navlist {
  ul {
    display: flex;
    list-style-type: none;
    width: 90vw;
    padding: 0;
    margin: 15px auto 0;

    li {
      padding: 0 10px;
    }

    li:last-child {
      margin: 0 0 0 auto;
    }
  }
}
