div.ui.modal.transition.visible.active.dark {
  .password {
    display: flex;
    justify-content: center;

    .ui.input {
      width: 334px;
      padding: 10px;
      color: var(--color-peach);
      background: transparent;
      border: 1px solid var(--color-grey);
    }
    .ui.button {
      background: var(--color-darkgrey);
      color: var(--color-peach);
    }
    .ui.button:hover {
      background: var(--color-red);
    }
  }
}
