.dark.ui.modal.transition.visible.active {
  background: var(--color-darkgray);

  .settingsWrapper {
    display: flex;
    justify-content: space-around;
    margin: 1em;

    button.ui.button.user {
      background: transparent;
      color: var(--color-peach);
      // border: 1px solid var(--color-red);
    }

    button.ui.button.user:hover {
      color: var(--color-peach);
      background: var(--color-red);
      // border: 1px solid var(--color-darkgray);
    }
  }

  form.ui.form label {
    color: var(--color-peach);
    margin-left: 5px;
  }

  div.ui.fluid.input input::placeholder {
    color: var(--color-peach);
  }
  .ui.form input::placeholder {
    color: var(--color-peach);
  }
  .ui.form input {
    margin-right: 5px;
  }
  div.ui.fluid.input input {
    margin-left: 5px;
  }

  div.ui.basic.label {
    background: transparent;
    color: var(--color-peach);
    width: 3px;
    margin-left: -20px;
  }

  div.header {
    background: var(--red-background);
    color: var(--color-peach);
  }

  .ui.items .item .content div {
    color: var(--color-peach);
  }

  .ui.form .field .ui.input input,
  .ui.form .fields .field .ui.input input {
    background: transparent;
    border: 1px solid var(--color-gray);
    color: var(--color-peach);
  }
  div.actions {
    background: transparent;
  }
  div.actions button {
    background: transparent;
    color: var(--color-peach);
  }

  div.actions button:hover {
    background: var(--color-red);
    color: var(--color-peach);
  }
  div.field textarea {
    background: transparent;
    border: 1px solid var(--color-gray);
    width: 890px;
    margin-left: 5px;
  }

  div.field textarea::placeholder {
    color: var(--color-peach);
  }

  div.ui.medium.image {
    margin-bottom: 1em;
  }
  .actions {
    border-top: transparent;
  }
}
